# Kata 04

# Ejercicio 1

In [3]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.""" .lower()
text_formated = text.split('. ')
text_formated

['interesting facts about the moon',
 "the moon is earth's only satellite",
 'there are several interesting facts about the moon and how it affects life here on earth',
 'on average, the moon moves 4cm away from the earth every year',
 'this yearly drift is not significant enough to cause immediate effects on earth',
 'the highest daylight temperature of the moon is 127 c.']

In [4]:
keywords = ["average", "temperature", "distance"]

In [7]:
for data in text_formated:
    for data_luna in keywords:
        if data_luna in data:
            print (data)  
            break

on average, the moon moves 4cm away from the earth every year
the highest daylight temperature of the moon is 127 c.

In [10]:
for data in text_formated:
    for data_luna in keywords:
        if data_luna in data:
            print (data .replace("c","celcius") )  
            break

on average, the moon moves 4celciusm away from the earth every year
the highest daylight temperature of the moon is 127 celcius.

# Ejercicio 2

In [26]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [41]:
header = f'Gravity Facts About {name}'
header.title()

'Gravity Facts About Moon'

In [42]:
gravitym = gravity * 1000

template = f"""
{"------------------------------------"}
Planet Name: {planet}
Gravity On {name}: {gravitym}
"""
print (template)

------------------------------------
Planet Name: Earth
Gravity On Moon: 1.6199999999999999

In [43]:
print (header.title() + template)

Gravity Facts About Moon
------------------------------------
Planet Name: Earth
Gravity On Moon: 1.6199999999999999

In [46]:
# Datos muestra 2
planet = 'Marte '
gravity  = 0.00143
name = 'Gan√≠medes'

In [47]:
print (template)

------------------------------------
Planet Name: Earth
Gravity On Moon: 1.6199999999999999